@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,600;0,700;1,500;1,700&family=Roboto:wght@100;400;700;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title-menu {
  font-size: calc( 1.2vw + 1.5em );
  line-height: 1em;
  color: #ffffffa4;
  font-weight: 700;
  transition: 0.2s ease-out;
  margin: 0em;
  margin-bottom: 0.5em;
  cursor: pointer;
  user-select: none;
  font-family: 'Prompt', sans-serif;
}

.title-menu:hover {
  text-shadow: 0px 0px 3px #08c7d1c2, 1px 1px 5px #9665fd;
  color: #ffffff;
}

